@tailwind base;
@tailwind components;
@tailwind utilities;

.c {
  color: #292929;
}

.floating-item-animation {
  animation-name: float;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes float {
  from {
    bottom: 0;
  }
  to {
    bottom: 10px;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
